.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.limit-input-size{
  max-width: 90px;
}

.aParent {
  float: right;
}

.inline-header {
  display: inline;
}